<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstproo">

    <application
        android:theme="@style/Theme.FirstProo">
        <activity android:name=".CreateAccount1Activity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccount2Activity" android:exported="true"/>
    </application>


</manifest>
